body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 30px;
   
}

.todo-container {
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #131313;
}

.input-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    margin-left: 10px;
    width: 18%;
    border: none;
    background-color: #8e24aa;
    color: white;
    border-radius: 10%;
    cursor: pointer;
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

li button.edit {
    background-color: #ffc107;
}

li button.delete {
    background-color: #dc3545;
}


